
/* ----------TOP BAR---------- */

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #ea9e17;
  padding: 0 1rem;
  z-index: 1000;
}

.topBarLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.topBarLinks li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.topBarLinks li a:hover {
  
}

.logoWrapper {
  position: relative;
  width: 27px;
  height: 45px;
}

.logoBase {
  position: absolute;
  width: 27px;
  height: 45px;
  background-image: url('/logo-white-pear.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.logoFill {
  position: absolute;
  bottom: 0;
  width: 27px;
  height: 0%;
  background-image: url('/logo-white-pear.png');
  background-size: 27px 45px;
  background-repeat: no-repeat;
  background-position: bottom;
  animation: fillLogo 0.9s ease-in forwards;
  overflow: hidden;
}

/* ----------SEARCH SECTION---------- */

.searchSection {
  position: relative;
  margin-top: 4rem;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/ProduceBackground.png');
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;  not sure if I like this, someone else can look at it*/
  filter: brightness(50%) contrast(1.3);
  z-index: 1;
}

.searchContainer {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.searchBox {
  display: flex;
  gap: 0.2rem;
  background: white;
  padding: .4rem; 
  border-radius: 8px;
  box-shadow: var(--shadow-medium);
}


.searchBox:hover {
  box-shadow: var(--shadow-medium)
}

.searchInput {
  flex: 1;
  padding: 0.5rem;
  font-size: 1.4rem;
  border: none;
  outline: none;
}

.searchButton {
  background-color: #ea9e17;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #d88c0f;
}

/* ----------RESULTS SECTION---------- */

.resultsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  position: relative;
  z-index: 2;
  margin-top: -120px;
}

.resultsContainer {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-medium);
  padding: 24px;
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 20px auto;
  transition: all 0.3s ease;
}

/* ----------KEYFRAMES---------- */

@keyframes fillLogo {
  from { height: 0%; }
  to { height: 100%; }
}


